<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

    
	<style>
		body {
			background-color: #E6E6E6;
			color: #000000;
			margin: auto;
			/* width: 700px; */
			text-align: justify; 
		}
	</style>

{% seo %}

  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ site.title }}</h1>
          <h2>{{ site.description }}</h2> 
        </header>

        <section id="pages">
          <a href="{{ site.baseurl | append: '/' }}" style="margin-right: 50px;">Home</a>&nbsp;
          <a href="{{ site.baseurl | append: '/projects' }}" style="margin-right: 50px;">Projects</a>&nbsp;
          <a href="{{ site.baseurl | append: '/nestarray' }}" style="margin-right: 50px;">NestArray</a>&nbsp;
          <a href="{{ site.baseurl | append: '/about' }}" style="margin-right: 50px;">About</a>&nbsp;
          <a href="{{ site.baseurl | append: '/about/contact' }}" style="margin-right: 50px;">Contact</a>&nbsp;
        </section>

        <hr>

        <h2>{{ page.title}}</h2>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <a href="{{ site.baseurl | append: '/about' }}" style="margin-right: 50px;">About</a>
          <a href="{{ site.baseurl | append: '/about/contact' }}">Contact</a>
        </footer>

      </div>
    </div>
  </body>
</html>